:root {
    --margin: 10px;
}

/* variavel fica
no elemento raiz */


body {
    padding: 10px;
}

.container-box {
    display: flex; /** display flexbox **/
    flex-wrap: wrap;
    /* Define se os itens devem quebrar ou não a linha*/
}

.a {
    width: calc((100%/2) - (var(--margin)* 2));
    text-align: center;
}
/* permite expressao
matematica calc
(largura total / 3) -margem *2 para
poder caber os três*/

.b {
    width: calc((100%/1) - (var(--margin)* 2));
    text-align: center;
}
.b img {
    border: 1px solid #eaf0d8;
    float: right;
    margin: 10px 10px 10px 0;
    padding: 2px;
    width: 120px;
    height: 80px;
}

.c {
    width: calc((100%/3) - (var(--margin)* 2));
    text-align: center;
}

.d {
    width: 100%;
    text-align: center;
}

.e {
    width: 100%;
    text-align: center;
}
.e img {
    border: 1px solid #eaf0d8;
    float: center;
    margin: 10px 10px 10px 0;
    padding: 2px;
    width: 60%;
    height: 50%;
}
.box {
    background-color: #e7e7e7;
    border-radius: 5px;
    margin: var(--margin);
    height: auto;
}

.topo {
	width: 100%;
	margin:0 auto;			
    color : rgb(0, 0, 0);
    text-align: center;
}

#conteudo {
	padding: 1%;
	background-color: rgb(255, 255, 255);
    text-align: center;
    /*color : blue;*/
}